apiVersion: v1
kind: Secret
metadata:
  name: fixity-secret
  namespace: fixity
type: Opaque
stringData:
  database-url: "postgres://fixity:CHANGE_ME@ra.homelab.justdev.ca:5432/fixity?sslmode=require"
  session-secret: "CHANGE_ME_TO_RANDOM_32_CHAR_STRING"
